// COLORS

$color-black-light: #6b6b6b;
$color-black-dark: #474747;

$color-white-light: #f1f1f1;
$color-white-dark: #b0b0b0;

$color-green: #228c22;
$color-green-light-1: #d3e8d3;
$color-green-light-2: #e0efe0;
$color-green-light-3: #e9f4e9;

$color-red: #cd5b5b;
$color-orange: #f47f62f5;

// FONTS

$font-big: 2rem;
$font-medium: 1.8rem;
$font-small: 1.4rem;
$font-smallest: 1.2rem;
