*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*
   @include respond(tab-land) {
        // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
    }
    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
  @include respond(phone) {
         // width < 600?
        font-size: 37.5%; //1 rem = 6px, 6/16 = 37.5%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
  */ }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  color: #4a4e68;
  background-color: #4a4e68; }

.btn {
  width: auto;
  height: fit-content;
  padding: 1rem 2rem;
  background-color: #f5f4f5;
  border: 1px solid #9a8d98;
  border-radius: 5px;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-size: inherit; }
  .btn:hover {
    background-color: #d4a5a5;
    font-weight: 700; }

.modal-box,
.modal-payment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(239, 230, 228, 0.5);
  backdrop-filter: blur(10px);
  transition: all 0.3s;
  visibility: hidden; }
  .modal-box .modal,
  .modal-payment .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1.5rem;
    background-color: white;
    border: 2px solid #9a8d98;
    border-radius: 5px;
    transition-delay: 0.2s;
    transition: all 0.3s;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0; }
    .modal-box .modal form,
    .modal-payment .modal form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: #efe6e4;
      border: 1px solid #9a8d98;
      border-radius: 5px; }
      .modal-box .modal form > :first-child,
      .modal-box .modal form > :nth-child(2),
      .modal-box .modal form > :nth-child(3),
      .modal-box .modal form > :last-child,
      .modal-payment .modal form > :first-child,
      .modal-payment .modal form > :nth-child(2),
      .modal-payment .modal form > :nth-child(3),
      .modal-payment .modal form > :last-child {
        grid-column: 1/-1; }
      .modal-box .modal form .form_group,
      .modal-payment .modal form .form_group {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem; }
        .modal-box .modal form .form_group input,
        .modal-payment .modal form .form_group input {
          width: 100%;
          padding: 0.5rem;
          outline-color: #d4a5a5;
          color: #4a4e68;
          border: 1px solid #9a8d98;
          border-radius: 5px; }
        .modal-box .modal form .form_group label,
        .modal-payment .modal form .form_group label {
          font-size: 1.6rem;
          text-transform: uppercase; }
      .modal-box .modal form .form_btns,
      .modal-payment .modal form .form_btns {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 2rem 0; }

.modal-info {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 30%;
  max-width: 50rem;
  transform: translate(-50%, -50%) scale(0.2);
  background-color: #efe6e4;
  font-size: 1.6rem;
  padding: 1.5rem;
  transition: all 0.3s;
  border: 2px solid #9a8d98;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden; }
  .modal-info .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
    .modal-info .info-group {
      padding: 0.5rem;
      background-color: white;
      border: 1px solid #9a8d98;
      border-radius: 5px; }
      .modal-info .info-group p {
        font-weight: 700;
        line-height: 2rem;
        font-size: 1.2rem; }
  .modal-info .info-buttons {
    display: flex;
    justify-content: space-between; }
    .modal-info .info-buttons .btn {
      padding: 0.5rem;
      margin-bottom: 1rem; }

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50rem;
  background-color: white;
  padding: 1.5rem;
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid #9a8d98;
  border-radius: 5px; }
  .payment_title-box {
    width: 100%;
    background-color: #efe6e4;
    border: 1px solid #9a8d98;
    border-radius: 5px; }
    .payment_title-box p {
      font-size: 1.6rem;
      text-transform: uppercase;
      text-align: center;
      line-height: 2.5rem; }
  .payment_months {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    row-gap: 1rem;
    padding: 0.5rem;
    background-color: #efe6e4;
    border: 1px solid #9a8d98;
    border-radius: 5px; }
    .payment_months .month {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 0.5rem;
      padding: 0.5rem; }
      .payment_months .month p {
        font-size: 1.2rem;
        text-transform: uppercase; }
    .payment_months div:not(:nth-last-child(-n + 3)) {
      border-bottom: 1px solid #9a8d98; }
    .payment_months div:not(:nth-child(-n + 3)) {
      border-top: 1px solid #9a8d98; }

.modal-box.open,
.modal-payment.open {
  visibility: visible; }

.payment.open,
.modal.open,
.modal-info.open {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1); }

.popup-message {
  display: none;
  place-content: center;
  position: absolute;
  padding: 2rem 3rem;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  border: 2px solid #9a8d98;
  border-radius: 5px; }
  .popup-message p {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: #efe6e4; }

.popup-options-student {
  position: absolute;
  top: 4rem;
  right: -0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 1rem;
  background-color: white;
  z-index: 10; }
  .popup-options-student button {
    padding: 0.5rem;
    font-size: 1.2rem; }

.checkboxes {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.payment_checkbox-input,
.student_checkbox-input,
.print_checkbox-input {
  display: none; }

.checkbox {
  position: relative;
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: white;
  cursor: pointer;
  border: 1px solid #9a8d98;
  border-radius: 5px; }

.checkbox:hover {
  background-color: #d4a5a5; }

.checkbox-hover-effect {
  background-color: #d4a5a5; }

.checkmark {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: right;
  width: 1rem;
  height: 2rem;
  border: solid #4a4e68;
  border-width: 0 3px 3px 0;
  display: none; }

.main {
  display: grid;
  grid-template-columns: 20rem auto 10rem;
  grid-template-rows: max-content auto 4rem;
  gap: 0.5rem;
  width: 80vw;
  height: 90vh;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  margin: 2rem auto;
  background-color: white; }
  .main_title-box {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: auto 10rem;
    grid-template-rows: 60% 40%;
    text-transform: uppercase;
    font-weight: 300;
    border: 2px solid #9a8d98;
    border-radius: 5px; }
    .main_title-box h1 {
      grid-column: 1/-1;
      background-color: #f5f4f5;
      border-bottom: 1px solid #9a8d98;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; }
    .main_title-box > :nth-child(2) {
      border-right: 1px solid #9a8d98; }
    .main_title-box > * {
      display: flex;
      justify-content: center;
      align-items: center; }
    .main_title-box .btn-title {
      font-size: 1.6rem;
      text-transform: uppercase;
      font-family: inherit;
      border: none;
      background-color: none;
      cursor: pointer; }
    .main_title-box .btn-print {
      border-left: 1px solid #9a8d98; }
    .main_title-box .btn-title:hover {
      background-color: #d4a5a5; }
  .main_date {
    padding: 0.5rem;
    font-size: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid #9a8d98;
    border-radius: 5px; }
    .main_date * select {
      width: 100%;
      padding: 0.3rem;
      font-size: 1.6rem;
      color: inherit;
      font-family: inherit;
      text-transform: uppercase;
      word-spacing: 1rem;
      appearance: none;
      text-align: inherit;
      outline: none;
      border-radius: 5px;
      cursor: pointer; }
      .main_date * select:hover {
        background-color: #d4a5a5; }
    .main_date :not(:last-child) {
      margin-bottom: 0.5rem; }
  .main_students-list {
    height: 100%;
    grid-column: 1/-1;
    padding: 0.5rem;
    overflow-y: scroll;
    border: 2px solid #9a8d98;
    border-radius: 5px; }
    .main_students-list::-webkit-scrollbar {
      width: 6px; }
    .main_students-list::-webkit-scrollbar-track {
      background-color: #f5f4f5; }
    .main_students-list::-webkit-scrollbar-thumb {
      background-color: #d4a5a5; }
    .main_students-list > :not(:last-child) {
      margin-bottom: 0.5rem; }
    .main_students-list .student {
      display: grid;
      grid-template-columns: 20rem auto 10rem;
      border: 1px solid #9a8d98;
      border-radius: 5px; }
      .main_students-list .student_name {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0 1rem 1rem; }
        .main_students-list .student_name .student_buttons {
          position: relative; }
  .main .btn-new-student {
    grid-column: 1/-1;
    justify-self: center;
    align-self: center;
    margin-top: 1rem; }

.all-bills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: antiquewhite;
  width: 210mm;
  height: 297mm;
  border: 1px solid black; }

.bill {
  padding: 1.5rem;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #9a8d98;
  border-radius: 5px; }
  .bill .paid {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700; }

.paid-month {
  display: flex;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700; }

.student-info > * {
  margin-bottom: 1rem;
  font-size: 1.6rem; }

.details {
  display: flex;
  gap: 0.5rem; }

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.footer > div > p:last-child {
  padding: 0 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-top: 1px solid #9a8d98; }

.sign-box p {
  margin-top: 14px; }

.date-box .date {
  text-align: center;
  font-size: 1.2rem; }

@media print {
  .bill {
    page-break-inside: avoid; } }
