.all-bills {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: repeat(4, 1fr);
     background-color: antiquewhite;
     width: 210mm;
     height: 297mm;
     border: 1px solid black;
}

.bill {
     padding: $padding-big;
     background-color: azure;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     @include border-hard;
     page-break-inside: avoid;

     & .paid {
          font-size: $font-medium;
          text-transform: uppercase;
          font-weight: 700;
     }
}

.paid-month {
     display: flex;
     gap: 0.5rem;
     text-transform: uppercase;
     font-size: $font-medium;
     font-weight: 700;
}

.student-info {
     align-self: flex-start;
}

.student-info > * {
     margin-bottom: 1rem;
     font-size: $font-medium;
}

.details {
     display: flex;
     gap: 0.5rem;
}

.footer {
     width: 100%;
     display: flex;
     justify-content: space-between;
}

.footer > div > p:last-child {
     padding: 0 2rem;

     font-size: $font-small;
     text-transform: uppercase;
     border-top: 1px solid $color-venus;
}

.sign-box p {
     margin-top: 14px;
}
.date-box .date {
     text-align: center;
     font-size: $font-small;
}
