@keyframes moveBeforeElement {
  0% {
    clip-path: circle(15% at 0 10%); }
  25% {
    clip-path: circle(18% at 92% 30%); }
  50% {
    clip-path: circle(12% at 75% 90%); }
  75% {
    clip-path: circle(18% at 20% 65%); }
  100% {
    clip-path: circle(15% at 0 10%); } }

@keyframes moveAfterElement {
  0% {
    clip-path: circle(20% at 90% 75%); }
  25% {
    clip-path: circle(7% at 76% 15%); }
  50% {
    clip-path: circle(24% at 6% 94%); }
  75% {
    clip-path: circle(12% at 65% 65%); }
  100% {
    clip-path: circle(20% at 90% 75%); } }

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 #fff; }
  50% {
    background-color: #fff;
    box-shadow: 32px 0 #fff2, -32px 0 #fff2; }
  100% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff, -32px 0 #fff2; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*
   @include respond(tab-land) {
        // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 56.25%
    }
    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
  @include respond(phone) {
         // width < 600?
        font-size: 37.5%; //1 rem = 6px, 6/16 = 37.5%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
  */ }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 65%; } }

body {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #fbfcfd;
  background-color: #0f5da1;
  display: grid;
  place-items: center;
  height: 100vh; }

.container {
  position: relative;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.13);
  overflow: hidden;
  display: none;
  margin: 2rem; }
  .container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #127bb0;
    clip-path: circle(15% at 0 10%);
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: infinite; }
  .container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -10;
    background-color: #127bb0;
    clip-path: circle(20% at 90% 75%);
    animation-delay: 5s;
    animation-duration: 60s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: infinite; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 100px;
  color: inherit;
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
  background-image: linear-gradient(to right, #b38f3e 0%, #76a7c4 100%); }
  .btn_icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor; }

.form {
  position: relative;
  background-color: #127bb0;
  width: 46rem;
  height: 22em;
  border-radius: 0 20px 20px 20px;
  place-items: center;
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .form {
      width: 80%;
      height: 80%; } }
  .form .input-group {
    width: 80%; }
  .form input,
  .form select {
    width: 100%;
    height: 3rem;
    border-radius: 20px;
    padding: 0 1rem;
    outline: 1px solid #127bb0;
    border: 4px solid transparent;
    color: #0f5da1; }
  .form input:hover,
  .form select:hover {
    background-color: #fbfcfd; }
  .form input:focus,
  .form select:focus {
    border-right: 4px solid #b38f3e;
    border-left: 4px solid #b38f3e; }
  .form_btn {
    width: 50%; }
  .form .close_btn {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer; }

.alert-message {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 20px;
  background-color: #b74d5d;
  z-index: 20; }

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
  display: none; }

.weather {
  display: flex;
  backdrop-filter: blur(20px);
  border-radius: 20px 0 0 20px;
  margin: 1rem; }
  .weather .weather-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 2rem;
    gap: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px 0 0 20px;
    transition: all 0.3s; }
    @media only screen and (max-width: 37.5em) {
      .weather .weather-box {
        gap: 1rem;
        border-radius: 20px 20px 0 0; }
        .weather .weather-box:hover {
          transform: initial;
          transform-origin: initial; } }
    .weather .weather-box .day-box .day {
      font-size: 2.2rem;
      font-weight: 400; }
    .weather .weather-box .day-box .date,
    .weather .weather-box .day-box .location {
      font-size: 1.2rem;
      color: #76a7c4; }
    .weather .weather-box .day-box .location {
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      gap: 0.5rem; }
      .weather .weather-box .day-box .location .location_icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: currentColor; }
    .weather .weather-box .icon-box {
      display: grid;
      place-items: center; }
      .weather .weather-box .icon-box .weather_icon {
        width: 6rem;
        height: 6rem;
        fill: currentColor; }
    .weather .weather-box .temp-box {
      line-height: 1.2;
      grid-column: span 2;
      display: grid;
      place-items: center; }
      .weather .weather-box .temp-box .temp {
        font-size: 3.6rem;
        font-weight: 500; }
      .weather .weather-box .temp-box .details {
        font-size: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    .weather {
      display: grid;
      grid-template-columns: 1fr; } }

.extra-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 10;
  padding: 3rem 2rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 20px 20px 0;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .extra-box {
      border-radius: 0 0 20px 20px; } }
  .extra-box .info_box {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr); }
    .extra-box .info_box .info_description {
      text-transform: uppercase;
      padding: 0.2rem; }
    .extra-box .info_box .info_value {
      text-align: right;
      padding: 0.2rem; }
  .extra-box_btn {
    width: 100%;
    margin-top: 4rem; }
