// COLORS
$color-primary: #3a85a5;
$color-primary-dark: #326c85;
$color-primary-darker: #1f4353;
$color-secondary: #ca1313;
$color-secondary-darker: #a51010;
$color-tertiary: #f09d04;

$color-white: #fafafa;
$color-black: #3d3d3d;

$color-grey-light: #e1dfdf;
$color-grey-lighter: #f0f0f0;

// FONT SIZES
$title-first: 6.4rem;
$title-second: 3rem;
$title-third: 1.8rem;

$paragraph: 1.6rem;
$paragraph-small: 1.2rem;

// SPACING

$spacing-small: 2rem;
$spacing-medium: 4rem;
