.popup-message {
     display: none;
     place-content: center;
     position: absolute;
     padding: 2rem 3rem;
     top: 10%;
     left: 50%;
     transform: translateX(-50%);
     z-index: 100;
     @include border-hard;

     & p {
          font-size: $font-medium;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 2px;
          word-spacing: 5px;
          color: $color-clam-shell-light;
     }
}
// SECTION INFO CLIENT
.popup-options-student {
     position: absolute;
     top: 50%;
     right: 3rem;
     display: flex;
     // flex-direction: column;
     gap: 0.5rem;
     // padding: 1rem;
     background-color: white;
     z-index: 10;
     transform: translateY(-50%);

     & button {
          padding: 0.5rem;
          font-size: $font-small;
     }
}
