*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(tab-port) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    display: grid;
    place-items: center;
    font-family: "Nunito", sans-serif;
    color: $dark-color;
    background-color: #e8f2f9;
}
