// COLORS

$primary-orange: #f7a540;
$dark-orange: #c68433;

$primary-red: #e94e4e;

$primary-green: #8bc926;
$light-green: #f3fae9;

$primary-blue: #1981c2;

$light-color: #fffcf9;
$dark-color: #191918;

// FONTS

$font-smallest: 1.2rem;
$font-small: 1.4rem;
$font-medium: 2.2rem;
