@keyframes appearRight {
     0% {
          width: 0; // 6rem
     }
     100% {
          width: 18rem; // 6rem
          padding: 0.5rem;

          @include respond(phone) {
               width: 12rem; // 6rem
          }
     }
}
