$primary-color-dark: #1b2136;
$primary-color-dark-grey: #5d6d7e;
$primary-color-light-grey: #a4adb7;
$primary-color-light-grey-3: #edeff1;
$primary-color-light-grey-2: #f6f7f8;
$primary-color-orange: #f0b17a;
$primary-color-orange-2: #d89f6e;
$primary-color-orange-3: #fef7f2;
$primary-color-red: #e74d3c;

$color-light: #fff;
