// COLORS

$color-river-bed: #4a4e68;
$color-venus: #9a8d98;
$color-venus-light: #f5f4f5;

$color-clam-shell: #c9ada6;
$color-clam-shell-light: #efe6e4;

$color-dawn-pink: #f2e8e3;
$color-eunry: #d4a5a5;

// FONTS
$font-medium: 1.6rem;
$font-small: 1.2rem;

// PADDINGS

$padding-small: 0.5rem;
$padding-big: 1.5rem;
